/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo translúcido */
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    text-align: center;
}

#loading  > img {
    border-radius: 10%;
}

.subtitle{
    color: rgb(90, 90, 90);
    margin-bottom: -10px;
    font-size: x-large;
    padding: 10px 10px;
    text-align: center;
    width: 100%;
    margin: auto;
    font-weight: 900;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4ca0af;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4ca0afbd;
}

#result {
    margin-top: 30px;
    text-align: center;
}

#classificationResult {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    font-size: small;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    width: 50%;
}
