<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classificação de Texto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- Link para o CSS -->
</head>
<body>
    <div class="container">
        <p class="subtitle">
            Detectando Notícia falsa
        </p>
        <form id="classificationForm" method="POST" action="/classificar">
            <label for="texto">Notícias:</label>
            <textarea id="texto" name="texto" rows="4" placeholder="Digite o texto aqui" required></textarea>        
            <button type="submit">Classificar</button>
        </form>
        
        <div id="result">
            <h2>Resultado da Classificação:</h2>
            <p id="classificationResult">Aguardando dados...</p>
            <p id="comprimentoMedio"></p>
            <p id="erroOrtografia"></p>
        </div>
        <div id="loading" style="display: none;">
            <img src="{{ url_for('static', filename='loading.gif') }}" alt="Carregando...">
        </div>
    </div>
    <footer>
        <p>
            Projeto de IA para estudos: os resultados podem não ser totalmente precisos.
        </p>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script> <!-- Link para o JavaScript -->
</body>
</html>
